# Log files
*.log

# code folder
.vscode/
*/.vscode/

#Platform IO
drone-hangar/.pio/

# Ignore Gradle project-specific cache directory
drone-remote-unit/.gradle

# Ignore Gradle build output directory
drone-remote-unit/build/
drone-remote-unit/bin/

# Ignore Eclipse settings
.project
.settings/
.classpath

# Ignore Java compiled files
*.class
*.DS_Store
.drone-remote-unit/deleteme/

# Ignore latex files
*.synctex.gz

# Ignore code workspace
*.code-workspace

# Ignore latex output files
docs/*.aux
docs/*.log
docs/*.out
docs/*.pdf
docs/*.toc